<h1><%= current_user.nickname %>のお気に入り一覧</h1>

<table>
  <tr>
    <th>画像</th>
    <th>内容</th>
  </tr>

  <% @favorite_pets.each do |favorite_pet| %>
    <tr>
    <td><%= image_tag favorite_pet.image.url, size:"160x160" %></td>
    <td><%= favorite_pet.content %></td>
    </tr>
  <% end %>
</table>
<br>

<%= link_to '戻る', pets_path %>
